<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookstore.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.bookstore.bean.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="INTEGER" />
        <result column="birth" property="birth" jdbcType="VARCHAR" />
        <result column="remain" property="remain" jdbcType="INTEGER" />
        <result column="identify" property="identify" jdbcType="INTEGER" />
        <result column="fk_roleId" property="fk_roleId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="tb_user_columns" >
        id, account, username, password, address, phone, birth, remain, identify, fk_roleId
    </sql>
    <select id="load" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="tb_user_columns" />
        from tb_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from tb_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="add" parameterType="com.bookstore.bean.User" >
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="account != null" >
                account,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="birth != null" >
                birth,
            </if>
            <if test="remain != null" >
                remain,
            </if>
            <if test="identify != null" >
                identify,
            </if>
            <if test="fk_roleId != null" >
                fk_roleId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null" >
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=INTEGER},
            </if>
            <if test="birth != null" >
                #{birth,jdbcType=VARCHAR},
            </if>
            <if test="remain != null" >
                #{remain,jdbcType=INTEGER},
            </if>
            <if test="identify != null" >
                #{identify,jdbcType=INTEGER},
            </if>
            <if test="fk_roleId != null" >
                #{fk_roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.bookstore.bean.User" >
        update tb_user
        <set >
            <if test="account != null" >
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=INTEGER},
            </if>
            <if test="birth != null" >
                birth = #{birth,jdbcType=VARCHAR},
            </if>
            <if test="remain != null" >
                remain = #{remain,jdbcType=INTEGER},
            </if>
            <if test="identify != null" >
                identify = #{identify,jdbcType=INTEGER},
            </if>
            <if test="fk_roleId != null" >
                fk_roleId = #{fk_roleId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="login" parameterType="com.bookstore.bean.User" resultType="Integer">
    	select count(*) from tb_user where account=#{account} and password=#{password}
    </select>
    
     <select id="loadByPassword" parameterType="com.bookstore.bean.User" resultType="com.bookstore.bean.User">
    	select 
    	<include refid="tb_user_columns"></include>
    	 from tb_user 
    	 <where>
    	 	<if test="account != null">
    	 		and account=#{account}
    	 	</if>
    	 	<if test="password != null">
    	 		and password=#{password}
    	 	</if>
    	 </where>
    	 
    </select>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</mapper>